version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      #      - run:
      #         name: Chmod permissions #if permission for Gradlew Dependencies fail, use this.
      #         command: sudo chmod +x ./gradlew
      - restore_cache:
          key: gems-{{ checksum "Gemfile.lock" }}
      - run:
          name: Accept licenses
          command: yes | sdkmanager --licenses || true

      - run:
          name: Download Ruby Dependencies
          command: |
                  echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
                  source $BASH_ENV
                  gem install bundler
                  bundler -v
                  bundle check || bundle install --path vendor/bundle
      - run:  
          name: "Install Firebase CLI"
          command: |
                  curl -sL firebase.tools | bash  
      - run:
          name: "Deploy alpha build to Firebase"
          command: |
                   bundle exec fastlane stage flavor:alpha branch:${CIRCLE_BRANCH} app_id:$FIREBASE_APP_ID firebase_token:$FIREBASE_APP_TOKEN
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - run:
          # Export base64 encoded google-services.json
          # into local bash variables
          name: Export Google Services Json
          command: echo 'export GOOGLE_SERVICES_JSON="$GOOGLE_SERVICES_JSON"' >> $BASH_ENV
      - run:
          # Decode the base64 string
          name: Decode Google Services Json
          command: echo $GOOGLE_SERVICES_JSON | base64 -di > app/google-services.json
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - run:
          name: Build application
          command: ./gradlew assemble

      - run:
          name: Fastlane
          command: bundle exec fastlane distribute

      - store_artifacts:
          path: app/build/outputs/apk
          destination: apk

      